
body, html, .App, #root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Times New Roman', Times, serif;

  background-color: #584f4a;
  color: #ccac7e;
}